$blue-text-color: #2a96cc;
$oauth-text-color: hsla(120, 100%, 0%, 0.302);
$box-shadow-color: hsla(0, 0%, 0%, 0.102);
$button-background-color: #2e95c9;
$button-text-color: #f7f7f7;
$input-text-color: hsla(0, 0%, 0%, 0.561);
$input-bottom-border-color: hsla(0, 0%, 0%, 0.329);
$font-family: "Roboto",
sans-serif;
$error-message-text-color: #a33e10;

.main-signin {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
}

.signin-section {
  display: flex;
  flex-direction: column;
  height: 563px;
  margin: 30px auto;
  padding: 20px;
  position: relative;
  text-align: center;
  top: 5%;
  width: 50%;

  &__text {
    display: none;
  }

  .signin-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 65%;

    &__input {
      background-color: transparent;
      border: 0;
      border-bottom: $input-bottom-border-color solid 3px;
      color: $input-text-color;
      font: 24px / 33px $font-family;
      font-weight: bold;
      height: 45px;
      margin: 10px 0;
      padding: 5px;
      width: 110%;

      &:focus {
        outline: none;
      }
    }

    &__button {
      background-color: $button-background-color;
      border: 0;
      border-radius: 15px;
      box-shadow: 0 10px 15px $box-shadow-color;
      display: block;
      height: 61px;
      outline: none;
      width: 100%;

      &--content {
        color: $button-text-color;
        display: flex;
        flex-direction: row;
        font: 900 25px / 29px $font-family;
        justify-content: center;
      }
    }

    &__forgot-password {
      color: $blue-text-color;
      display: block;
      font: 18px / 21px $font-family;
      font-weight: bold;
      margin-bottom: 20px;
      margin-left: 7%;
      margin-top: 32px;
      position: relative;
      text-decoration: none;
    }
  }

  &__oauth {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;
    width: 60%;

    &__text {
      color: $oauth-text-color;
      display: block;
      font: 18px / 21px $font-family;
      font-weight: 900;
      margin-bottom: 20px;
      margin-left: 20px;
      text-decoration-line: underline;
    }

    &__logos {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .signin-section {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .main-signin {
    height: 90%;
    left: 0;
    position: relative;
    top: 10%;
    width: 100%;
  }

  .signin-section {
    height: 100%;
    left: 0;
    padding: 0;
    position: relative;
    top: 70px;
    transform: translate(0, 0);
    width: 100%;

    &__app-logo {
      display: none;
    }

    &__text {
      color: $blue-text-color;
      display: block;
      font-family: "Roboto";
      font-size: 36px;
      font-style: normal;
      font-weight: 700px;
      line-height: 42px;
      margin-top: 10px;
      text-align: center;
    }

    &__form {
      width: 48%;

      &__forgot-password {
        margin-right: 0;
      }

      &__button {
        font-size: 24px;
        height: 55px;
        width: 100%;
      }

      &__input {
        width: 100%;
      }
    }

    &__oauth {
      &__text {
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .signin-section {
    &__form {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 370px) {
  .signin-section {
    &__form {
      width: 65%;
    }
  }
}

@media only screen and (max-width: 320px) {
  .signin-section {
    &__text {
      font-size: 28px;
    }

    &__form {
      width: 65%;

      &__input {
        font-size: 22px;
        line-height: 22px;
        width: 200px;
      }

      &__button {
        width: 180px;
      }
    }
  }
}
