$font-stack: 14px "Roboto", Nunito, Arial, sans-serif;
$primary-color: #4d4d4d;
$background-color: #f7f7f7;

html,
body {
  font: 100% $font-stack;
  color: $primary-color;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.4em;
  background: $background-color;
  margin: 0 auto;
}

a:hover,
button:hover {
  cursor: pointer;
}
