$sidebar-background-color: #2a96cc;
$text-color: #f7f7f7;
$sidebar-background-image: url("../../../Assets/backgroundImage.svg");
$blur-background-color: rgba(50, 50, 50, 0.502);
$navbar-background-color: #e0e0e0;
$app-name-color: #2e95c9;
$box-shadow-color1: rgba(0, 0, 0, 0.24);
$box-shadow-color2: rgba(0, 0, 0, 0.12);
$active-link-text-color: #000100;
$font-family: "Roboto",
sans-serif;

.auth-sidebars-container {
  overflow: hidden;
}

.auth-navbar {
  display: none;
  left: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.auth-sidebars {
  background-color: $sidebar-background-color;
  background-image: $sidebar-background-image;
  display: block;
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 40%;
  z-index: 2;

  &__app-name {
    color: $text-color;
    font-family: $font-family;
    font-size: 35px;
    padding-left: 22px;
    padding-top: 15px;
    position: relative;
  }

  &__footer {
    bottom: 10px;
    color: $text-color;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 900;
    padding-left: 20px;
    position: absolute;
  }
}

.blur-background {
  background-color: $blur-background-color;
  left: -100%;
  min-height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 0.4s ease;
  width: 100%;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .auth-navbar {
    background: $navbar-background-color;
    box-shadow: 0 4px 4px $box-shadow-color1, 0 0 4px $box-shadow-color2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 65px;
    justify-content: center;
    z-index: 1;

    &__appname {
      color: $app-name-color;
      display: block;
      font-family: $font-family;
      font-size: 20px;
      font-style: normal;
      font-weight: bold;
      line-height: 23px;
      margin-top: 2px;
    }

    &__mini-logo {
      display: inline-block;
      height: 65px;
      left: 20px;
      margin-top: -10px;
      position: absolute;
      width: 65px;
    }
  }

  .auth-sidebars {
    left: -100%;
    transition: all 0.7s ease;
    width: 80%;
    z-index: 2;

    &__footer {
      font-size: 16px;
      padding-left: 5px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .auth-sidebars {
    &__app-name {
      font-size: 24px;
    }
  }
}
