$blue-text-color: #2a96cc;
$oauth-text-color: hsla(120, 100%, 0%, 0.302);
$box-shadow-color: hsla(0, 0%, 0%, 0.102);
$button-background-color: #2e95c9;
$button-text-color: #f7f7f7;
$input-text-color: hsla(0, 0%, 0%, 0.561);
$input-bottom-border-color: hsla(0, 0%, 0%, 0.329);
$font-family: "Roboto",
sans-serif;

.forget-password {
  align-items: center;
  height: 100vh;
  margin-left: 37%;
  position: absolute;
  right: 0;
  width: 60%;
}

.change-password {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  height: 100vh;
  margin-top: 12%;
  padding: 20px;
  position: relative;

  &__title {
    font-family: $font-family;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: 41px;
    margin-left: 3%;
    text-align: center;
  }

  &__form {
    margin-left: auto;
    padding: 10px;
    width: 65%;

    &--input {
      background-color: transparent;
      border: 0;
      border-bottom: $input-bottom-border-color solid 3px;
      color: $input-text-color;
      font: 24px / 33px $font-family;
      font-weight: bold;
      height: 45px;
      margin: 10px 0;
      padding: 5px;
      width: 55%;

      &:focus {
        outline: none;
      }
    }

    &--backto-signin {
      color: $blue-text-color;
      display: block;
      font: 18px / 21px $font-family;
      font-weight: bold;
      margin-bottom: 20px;
      margin-left: 15%;
      margin-top: 32px;
      position: relative;
      text-decoration: none;
    }

    &--button {
      background-color: $button-background-color;
      border: 0;
      border-radius: 15px;
      box-shadow: 0 10px 15px $box-shadow-color;
      display: block;
      height: 61px;
      outline: none;
      width: 60%;
    }

    &--button-content {
      color: $button-text-color;
      display: flex;
      flex-direction: row;
      font: 900 25px / 29px $font-family;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .change-password {
    margin-left: -10%;

    &__form {
      width: 70%;

      &--input {
        margin-left: -5%;
        width: 70%;
      }

      &--backto-signin {
        margin-left: 7%;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .forget-password {
    width: 80%;

    .change-password {
      width: 80%;

      &__mini-logo {
        display: none;
      }

      &__title {
        color: $blue-text-color;
        font-weight: bold;
        margin-top: 30%;
      }

      &__form {
        width: 70%;

        &--input {
          margin-bottom: 20%;
          margin-left: -30%;
          width: 120%;
        }

        &--backto-signin {
          margin-bottom: 20%;
          margin-left: -15%;
        }

        &--button {
          margin-left: -30%;
          width: 120%;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .forget-password {
    width: 80%;

    .change-password {
      width: 80%;

      &__mini-logo {
        display: none;
      }

      &__title {
        color: $blue-text-color;
        font-size: 30px;
        font-weight: bold;
        margin-top: 30%;
      }

      &__form {
        width: 70%;

        &--input {
          margin-bottom: 20%;
          margin-left: -30%;
          width: 120%;
        }

        &--backto-signin {
          margin-bottom: 20%;
          margin-left: -15%;
        }

        &--button {
          margin-left: -30%;
          width: 120%;
        }
      }
    }
  }
}

@media only screen and (max-width: 340px) {
  .forget-password {
    width: 60%;

    .change-password {
      margin-left: -70%;
      width: 130%;

      &__mini-logo {
        display: none;
      }

      &__title {
        color: $blue-text-color;
        font-weight: bold;
        margin-left: 12%;
        margin-top: 35%;
      }

      &__form {
        width: 60%;

        &--button {
          width: 130%;
        }
      }
    }
  }
}
